

@media (max-width:1919px) and (min-width:1440px) {
    .home-elem-11 {
        position: relative
    }

    .home-elem-166 {
        position: relative
    }

    .home-elem-169 {
        position: relative
    }

    .home-elem-168 {
        position: relative
    }

    .home-elem-170 {
        position: relative
    }
}


@media (max-width:1919px) and (min-width:1440px) {}