

@media (max-width:1199px) {
    .home-elem-7 {
        padding: 101px 16px 66px 16px;
        align-items: flex-start
    }

    .home-elem-11 {
        position: relative
    }

    .home-elem-8 {
        font-size: 50px;
        line-height: 60px;
        display: block;
        max-width: none
    }

    .home-elem-10 {
        padding: 79px 0px 55px 0px
    }

    .home-elem-166 {
        position: relative
    }

    .home-elem-169 {
        position: relative
    }

    .home-elem-168 {
        position: relative
    }

    .home-elem-170 {
        position: relative
    }

    .home-elem-13 {
        font-size: 29px;
        line-height: 39px
    }

    .home-elem-16 {
        max-width: 330px
    }

    .home-elem-29 {
        max-width: 330px
    }

    .home-elem-25 {
        max-width: 330px
    }

    .home-elem-20 {
        max-width: 330px
    }

    .home-elem-51 {
        width: auto;
        height: auto
    }

    .home-elem-65 {
        width: auto;
        height: auto
    }

    .home-elem-63 {
        width: auto;
        height: auto
    }

    .home-elem-86 {
        width: auto;
        height: auto
    }

    .home-elem-92 {
        width: auto;
        height: auto
    }

    .home-elem-89 {
        width: auto;
        height: auto
    }

    .home-elem-102 {
        width: auto;
        height: auto
    }

    .home-elem-69 {
        width: auto;
        height: auto
    }

    .home-elem-75 {
        width: auto;
        height: auto
    }

    .home-elem-72 {
        width: auto;
        height: auto
    }

    .home-elem-105 {
        width: auto;
        height: auto
    }
}


@media (max-width:1199px) {}