

@media (min-width:1920px) {
    .home-elem-11 {
        position: relative
    }

    .home-elem-166 {
        position: relative
    }

    .home-elem-169 {
        position: relative
    }

    .home-elem-168 {
        position: relative
    }

    .home-elem-170 {
        position: relative
    }
}


@media (min-width:1920px) {}